@font-face {
	font-family: wildYouth;
	src: url("WildYouth-Regular.otf");
}

$cursive-font-stack: wildYouth, "Brush Script MT", cursive;
$serif-font-stack: Average, "Times New Roman", Times, serif;
$sans-serif-font-stack: Montserrat, Arial, Helvetica, sans-serif;

$black: #000;
$white: #fff;
$silver-chalice: #afafaf;
$masala: #41403f;
$harvest-gold: #e4bb7a;
$sidecar: #f2ddbd;

@mixin transform($transform) {
	-webkit-transform: $transform;
	-ms-transform: $transform;
	transform: $transform;
}

@mixin keyframes($animationName) {
	@-webkit-keyframes #{$animationName} {
		@content;
	}
	@keyframes #{$animationName} {
		@content;
	}
}

html,
body {
	height: 100%;
}

body {
	font-family: $serif-font-stack;
	font-size: 20px;
	font-weight: 400;
	color: $white;
}

h2 {
	font-family: $sans-serif-font-stack;
	font-size: 36px;
	font-weight: 700;
	letter-spacing: .12em;
	text-transform: uppercase;
}

h3 {
	font-family: $cursive-font-stack;
	font-size: 45px;
	font-weight: 400;
	color: $harvest-gold;
}

a:link,
a:hover {
	text-decoration: none;
}

input { border-radius: 0; }

::-webkit-scrollbar {
	width: 7px;
	background-color: $black;
}

::-webkit-scrollbar-thumb{ background-color: $harvest-gold; }

.container-fluid {
	padding-right: 15%;
	padding-left: 15%;
}

.wrapper {
	width: 100%;
	max-width: 1920px;
}



/*------------------------------------*\
	MISC
\*------------------------------------*/

.arrow {
	width: 70px;
	height: 10px;
	margin-right: auto;
	margin-left: auto;
	background: url("arrow.png") no-repeat center;
	background-size: cover;
}

.logo {
	width: 24em;
	height: 12em;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 2em;
	background: url("logo_Logo.svg") no-repeat center;
	background-size: cover;
}

.button {
	position: relative;
	display: inline-block;
	width: 172px;
	height: 50px;
	line-height: 50px;
	white-space: nowrap;
	text-align: center;
	font-family: $sans-serif-font-stack;
	font-size: 15px;
	text-transform: uppercase;
	background-color: $harvest-gold;
}

.button,
.button:link,
.button:hover,
.button:visited {
	color: $black;
}

.button--shadow::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: none;
	transition: box-shadow .3s ease-out;
}

.button:hover.button--shadow::after { box-shadow: 3px 5px 15px 
rgba(228,187,122,.25); }

body .parallax { background-attachment: fixed; }





/*------------------------------------*\
	HOME
\*------------------------------------*/

.home {
	position: relative;
	width: 100%;
	height: calc(100vh - 29px);
	min-height: 480px;
	background: url("marble-min.jpg") fill center;
	background-size: cover;
	background-color: $white;
	z-index: 1000;
}

.home .wrapper {
	position: relative;
	height: 100%;
}

.home__wrapper {
	position: absolute;
	top: calc(50% + (80px / 2));
	left: 50%;
	@include transform(translate(-50%, -50%));
	text-align: center;
}

.home h3 { font-size: 50px; }

.home h2 {
	font-family: $serif-font-stack;
	font-size: 3.8em;
	font-weight: 400;
	letter-spacing: normal;
	text-transform: none;
	color: $black;
	white-space: nowrap;
}

.home span {
	font-family: $sans-serif-font-stack;
	font-size: .8em;
	line-height: 1.2;
	color: $black;
}

.arrow--home,
.button--home {
	margin-top: 43px;
}

.scroll-down {
	position: absolute;
	left: 50%;
	@include transform(translateX(-50%));
	bottom: 50px;
	display: block;
	padding: 5px;
}

@include keyframes (anim--scroll-down) {
	0% { @include transform(translateY(-7px)); opacity: 0; }
	50% { opacity: 1; }
	100% { @include transform(translateY(7px)); opacity: 0; }
}

.anim--scroll-down {
	-webkit-animation: anim--scroll-down 1.5s ease-in-out infinite;
	animation: anim--scroll-down 1.5s ease-in-out infinite;
}


/*------------------------------------*\
	MEDIA QUERIES
\*------------------------------------*/

/* Extra large devices (large desktops) */
@media (max-width: 1599px) {
	body { font-size: 18px; }

	.container-fluid {
		padding-right: 10%;
		padding-left: 10%;
	}

	.about__box {
		right: 21%;
		width: 33%;
	}

	.about__wrapper {
		right: 10%;
		width: 44%;
		padding: 20px 40px 20px;
	}

	.about p {  margin-top: 20px; }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199px) {
	body { font-size: 16px; }

	h3 { font-size: 2.8125em; }

	h2 { font-size: 2.25em; }

	.nav,
	.button,
	.about p,
	.menu p,
	.menu__desc,
	.opening__hours span,
	.opening__hours p,
	.staff__position,
	.staff__desc,
	.reservation p,
	.review__desc,
	.review__position,
	.input--subscribe {
		font-size: .9375em;
	}

	.home h3 { font-size: 3.125em; }

	.home h2 { font-size: 4em; }

	.staff__name { font-size: 1em; }

	.about__image { width: 30%; }

	.about__box {
		right: 21.5%;
		width: 33.7%;
	}

	.about__wrapper { width: 45%; }

	.social__staff-group,
	.staff__desc {
		margin-top: 20px;
	}

	.menu p,
	.staff__name {
		margin-top: 40px;
	}

	.menu__item-group,
	.opening__wrapper,
	.staff__person-group {
		margin-top: 60px;
	}

	.menu__desc { margin-top: 8px; }

	.opening .container-fluid {
		padding-right: 10%;
		padding-left: 10%;
	}
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991px) {
	body { font-size: 15px; }

	.nav__item:nth-child(n+2) { margin-left: calc(30px - 4px); }

	.about,
	.reservation {
		padding-top: 70px;
		padding-bottom: 80px;
	}

	.about__image {
		width: 25%;
		z-index: 1003;
	}

	.about img:first-of-type { margin-left: 8.33%; }

	.about__box {
		right: auto;
		left: 15%;
		width: 47%;
		height: 90%;
	}

	.about__wrapper {
		position: relative;
		top: auto;
		right: auto;
		left: auto;
		@include transform(translateY(0));
		display: block;
		width: 80%;
		height: auto;
		padding: 40px 60px 30px;
		margin-top: -20px;
		z-index: 1002;
	}

	.menu,
	.staff {
		padding-top: 70px;
		padding-bottom: calc(80px - 20px);
	}

	.menu__image {
		width: 50px;
		height: 50px;
	}

	.menu__caption {
		width: calc(100% - 50px);
		padding-right: calc(.16 * (100% - 50px) + 20px);
		padding-left: calc(20px - 4px);
	}

	.menu p,
	.opening__hours span:nth-of-type(n+2),
	.staff__name,
	.review__name {
		margin-top: 30px;
	}

	.menu__item-group,
	.opening__wrapper,
	.staff__person-group {
		margin-top: 50px;
	}

	.opening {
		padding-top: 60px;
		padding-bottom: 80px;
	}

	.opening__hours { padding: 20px; }

	.reviews,
	.subscribe {
		padding-top: 80px;
		padding-bottom: 70px;
	}

	.carousel--reviews {
		padding-bottom: 50px;
		margin-top: 50px;
	}

	.review__position { margin-top: 10px; }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) {
	body { font-size: 14px; }

	.container-fluid {
		padding-right: 6.25%;
		padding-left: 6.25%;
	}

	.arrow {
		width: 50px;
		height: 7px;
	}
	
	.logo {
		width: 50px;
		height: 7px;
	}

	.button {
		width: 140px;
		height: 40px;
		line-height: 40px;
	}

	.nav__item:nth-child(n+2) { margin-left: calc(40px - 4px); }

	.arrow--home,
	.button--home,
	.arrow--reservation,
	.button--reservation,
	.reservation p,
	.arrow--subscribe,
	.form--subscribe {
		margin-top: 30px;
	}


	.home { height: 100vh; }

	.home__wrapper { top: calc(50% + (60px / 2)); }

	.about,
	.opening,
	.reservation {
		padding-top: 50px;
		padding-bottom: 60px;
	}

	.about__image { width: 30%; }

	.about__box {
		left: 11%;
		width: 62.5%;
	}

	.about__wrapper { width: 100%; }

	.menu,
	.staff {
		padding-top: 50px;
		padding-bottom: calc(60px - 20px);
	}

	.menu p,
	.opening__hours span:nth-of-type(n+2),
	.staff__name {
		margin-top: 20px;
	}

	.menu p {
		margin-right: 15%;
		margin-left: 15%;
	}

	.menu__item-group,
	.opening__wrapper,
	.staff__person-group,
	.carousel--reviews {
		margin-top: 40px;
	}

	.menu__item { margin-bottom: 20px; }

	.menu__desc { margin-top: 5px; }

	.opening__image,
	.opening__hours {
		width: 100%;
	}

	.opening__image {
		height: 0;
		padding-top: 45.71%;
	}

	.staff__image { width: 75%; }

	.social__staff-group,
	.staff__desc {
		margin-top: 10px;
	}

	.reservation p {
		margin-right: 10%;
		margin-left: 10%;
	}

	.reviews,
	.subscribe {
		padding-top: 60px;
		padding-bottom: 50px;
	}

	.review__position { margin-top: 5px; }

	.input--subscribe {
		width: 200px;
		height: 40px;
		padding-left: 20px;
	}

	.submit--subscribe { margin-left: calc(20px - 4px); }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
	body { font-size: 12px; }

	.home span,
	.button,
	.about p,
	.menu p,
	.menu__desc,
	.opening__hours span,
	.opening__hours p
	.staff__position,
	.staff__desc,
	.reservation p,
	.review__desc,
	.review__position,
	.input--subscribe {
		font-size: 12px;
	}
	.menu__name,
	.menu__price {
		font-size: 11px;
	}

	.nav__item:nth-child(n+2) { margin-left: calc(20px - 4px); }

	.home h2 {
		white-space: normal;
		overflow: visible;
	}

	.about__image { width: 35%; }

	.about img:first-of-type { margin-left: calc(15% - 15px); }

	.about__box {
		left: 50%;
		@include transform(translate(-50%, -50%));
		width: calc(60% + 60px);
	}

	.about__wrapper {
		width: 100%;
		padding: 30px 40px 20px;
	}

	.opening__hours span:nth-of-type(n+2),
	.staff__name,
	.social__staff-group {
		margin-top: 10px;
	}

	.menu p,
	.reservation p {
		margin-right: 0;
		margin-left: 0;
	}

	.menu__item-group,
	.opening__wrapper,
	.staff__person-group,
	.carousel--reviews {
		margin-top: 30px;
	}

	.opening__hours {
		padding-right: 10px;
		padding-left: 10px;
	}

	.staff__image { width: 40%; }

	.staff__desc {
		padding-right: 12.5%;
		padding-left: 12.5%;
	}

	.carousel-control-prev-icon,
	.carousel-control-next-icon {
		top: 10%;
	}

	.input--subscribe,
	.submit--subscribe {
		display: block;
		margin-right: auto;
		margin-left: auto;
	}

	.submit--subscribe { margin-top: 20px; }
}

@media (min-width: 1920px) {
	.container-fluid {
		padding-right: 20%;
		padding-left: 20%;
	}

	.about__box {
		right: 28%;
		width: 24.375%;
	}

	.about__wrapper {
		right: 20%;
		width: 32.5%;
	}
}

.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}
