<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}" />
		</head>
		<body>
			
			<section class="home parallax" id="home">
				<div class="container-fluid wrapper">
					<div class="home__wrapper">
						<div class="logo"></div>
						<h3>Welcome to</h3>
						<h2>No. 27 Bistro And Bar</h2>
						<span>27 Mohamed Sultan Road, Singapore 238971</span>
						<div class="arrow arrow--home"></div>
						<a class="button button--home button--shadow" href="assets/files/No.27_Bistro_And_Bar_Drinks_Menu.compressed.pdf">Menu</a>
						<br><a class="button button--home button--shadow" href="https://api.whatsapp.com/send?phone=6593223764&text=Hi!%20My%20name%20is%20*NAME*%20and%20I%20would%20like%20to%20make%20a%20reservation%20for%20*X%20PAXS%20on%20*DATE*.">BOOK A TABLE</a>
					</div>
					<a class="scroll-down d-none d-lg-block" href="#about">
						<div class="wrapper--scroll-down anim--scroll-down">
						</div>
					</a>
				</div>
			</section><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a 
href="mailto:hankquinlanhub@gmail.com">email</a></li>
	        		<li><a 
href="https://github.com/hankquinlan">github.com/hankquinlan</a></li>
				</ul>
			</footer>
		</body>
	</html>
